version: '3.8'


services:
  cliente-app:
    build: .
    container_name: cliente-app
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./logs:/app/logs  # ✅ Carpeta compartida

  promtail:
    image: grafana/promtail:latest
    container_name: promtail-cliente
    volumes:
      - ./logs:/app/logs  # ✅ Carpeta compartida
      - ./promtail-config.yml:/etc/promtail/promtail-config.yml
      - ./positions:/tmp
    command: -config.file=/etc/promtail/promtail-config.yml
    restart: always
